<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="view" routerLinkActive="active">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="equipment" routerLinkActive="active">Equipment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="appointment" routerLinkActive="active">Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="forms" routerLinkActive="active">Forms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="edit" routerLinkActive="active">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="delete" routerLinkActive="active">Delete</a>
  </li>
</ul>
<router-outlet></router-outlet>
