<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLink="dealer/customer/view">View</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="dealer/customer/equipmentIndex()">Equipment</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="dealer/customer/appointmentIndex()">Appointments</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="dealer/customer/form">Forms</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="edit">Edit</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="delete">Delete</a></li>
  </ul>
  <div ui-view></div>
  